# Node dependencies
node_modules/

# Build output directory
dist/

# Environment files (may contain private keys, etc)
.env

# Yarn (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
# We don't use the Zero-Installs feature to keep the repository size down and
# to be able to exclude devDependencies in the final build.
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
